 *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
.view_customer{
    position: relative;
    width: 100%;
    height: 100vh;    
}
.head h2{
    margin-left:770px;
    margin-bottom: 30px;
    padding:20px 20px 0 0;
    color: green;
}
a{
    text-decoration: none;
    font-weight: bold;
    color:rgb(52, 20, 128);
    margin-left: 100px;
    padding:6px 10px 0 0;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-left: 90px;
}

td, th {
  border: 2px solid #dddddd;
  text-align: center;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

